<h2>Edit the meme</h2>

<%= form_with model: @blague, local: true do |form| %> 

    <p>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </p>

    <p>
        <%= form.label :content %>
        <%= form.text_area :content %>
    </p>

    <p>
        <%= form.label :author %>
        <%= form.text_field :author %>
    </p>

    <p>
        <%= form.submit "edit your meme"%>
    </p>
<%end%>